/*Design By Hope*/
/*Edited By Fredyang*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0
}

#HopeSlider{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

ol,
ul,
li {
    list-style: none
}

#HopeSlider ul li{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
}

#HopeSlider ul,#HopeSlider ul li{
    padding-bottom: 29.375%;
}

#HopeSlider ul li.is-curr{
    z-index: 3;
}

#HopeSlider ul li.is-next{
    z-index: 2;
}

#HopeSlider .slide img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover
}

.dot-list{
    position: absolute;
    left:61.8%;
    bottom: 10px;
    z-index: 5;
}

.dot-list .dot{
    display: inline-block;
    width: 10px;
    height:10px; 
    margin:3px;   
    background-color: #fff;
    border-radius: 5px;
}

.dot-list .dot.active{
    background-color: rgba(152,42,42,1) !important;
}

#prev{
    position: absolute;
    left: -50px;
    top: 0;
    width: 50px;
    height: 100%;
    background: url("images/arl.png") no-repeat center;
    z-index: 5;
}
#next{
    position: absolute;
    right: -50px;
    top: 0;
    width: 50px;
    height: 100%;
    background: url("images/arr.png") no-repeat center;
    z-index: 5;
}

#prev,#next{
    z-index: 999;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    cursor: pointer;
    pointer-events: fill;
}

#HopeSlider:hover #prev{
    left: 0;
}

#HopeSlider:hover #next{
    right: 0;
}

.dot{
    cursor: pointer;
}